@attribute [Route(ClientRoutes.UserAccounts.ExternalLogins)]
@attribute [Authorize]
@inherits AppComponentBase

<PageTitle>احراز هویت خارجی</PageTitle>

<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <MudBreadcrumbs Class="px-0" Items="_breadcrumbs" MaxItems="2">
        <SeparatorTemplate>
            <MudIcon Icon="@Icons.Material.Filled.ArrowForwardIos" Size="Size.Small" />
        </SeparatorTemplate>
    </MudBreadcrumbs>

    <div class="flex-column gap-2 align-center justify-content-center w-100 mb-6 d-md-flex d-none">
        <MudText Typo="Typo.h4">احراز هویت خارجی</MudText>
        <MudText Typo="Typo.h6">با اتصال حساب کاربری خود به سرویس های احراز هویت خارجی، سهولت در احراز هویت را تجربه کنید!</MudText>
    </div>
    
    @if (_externalLogins != null)
    {
        <MudGrid>
            <MudItem xs="12" md="6">
                <!-- Connected Providers -->
                <MudPaper Class="pa-4">
                    <MudText Typo="Typo.h5" Class="mb-4">سرویس های متصل</MudText>

                    @if (_externalLogins.CurrentLogins.Count == 0)
                    {
                        <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Start">
                            شما هیچ حساب خارجی متصل نکرده‌اید.
                        </MudAlert>
                    }
                    else
                    {
                        <MudGrid Spacing="3">
                            @foreach (var login in _externalLogins.CurrentLogins)
                            {
                                <MudItem xs="12" md="6">
                                    <MudCard Class="pa-3">
                                        <MudCardHeader>
                                            <MudIcon Icon="@GetProviderIcon(login.Provider)" Color="Color.Primary" Size="Size.Large" />
                                            <MudText Typo="Typo.h6" Class="ms-2">
                                                @(login.ProviderDisplayName ?? login.Provider)
                                            </MudText>
                                        </MudCardHeader>

                                        <MudCardActions Class="justify-content-end">
                                            <MudButton Variant="Variant.Text" Color="Color.Error" Disabled="@(!_externalLogins.CanRemoveLogins)">
                                                قطع اتصال
                                            </MudButton>
                                        </MudCardActions>
                                    </MudCard>
                                </MudItem>
                            }
                        </MudGrid>
                    }
                </MudPaper>
            </MudItem>
            <MudItem xs="12" md="6">
                <!-- Available Providers -->
                <MudPaper Class="pa-4">
                    <MudText Typo="Typo.h5" Class="mb-4">اتصال سرویس جدید</MudText>

                    @if (_externalLogins.OtherProviders.Count == 0)
                    {
                        <MudAlert Severity="Severity.Info">
                            هیچ سرویس احراز هویت خارجی دیگری در دسترس نیست.
                        </MudAlert>
                    }
                    else
                    {
                        <MudGrid Spacing="3">
                            @foreach (var provider in _externalLogins.OtherProviders)
                            {
                                <MudItem xs="12" md="6">
                                    <MudCard Class="pa-3 hover-elevate">
                                        <MudCardHeader Class="cursor-pointer" @onclick="@(() => StartExternalLogin(provider.Name))">
                                            <MudIcon Icon="@GetProviderIcon(provider.Name)" Color="Color.Primary" Size="Size.Large" />
                                            <MudText Typo="Typo.h6" Class="ms-2">
                                                @(provider.DisplayName ?? provider.Name)
                                            </MudText>
                                        </MudCardHeader>

                                        <MudCardActions Class="justify-content-end">
                                            <MudButton Variant="Variant.Filled"
                                                       Color="Color.Primary"
                                                       Disabled="@_buttonDisabled"
                                                       StartIcon="@(_buttonDisabled ? null : Icons.Material.Filled.AddLink)"
                                                       OnClick="@(() => StartExternalLogin(provider.Name))">
                                                @if (_buttonDisabled)
                                                {
                                                    <MudProgressCircular Class="ms-n1"
                                                                         Size="Size.Small"
                                                                         Indeterminate="true" />

                                                    <MudText Class="ms-2">لطفا منتظر بمانید...</MudText>
                                                }
                                                else
                                                {
                                                    <MudText>اتصال</MudText>
                                                }
                                            </MudButton>
                                        </MudCardActions>
                                    </MudCard>
                                </MudItem>
                            }
                        </MudGrid>
                    }
                </MudPaper>
            </MudItem>
        </MudGrid>
    }

</MudContainer>