@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Identity
@using Mkx.Templates.Sdk.Server.Domain.Identity
@using Mkx.Templates.Server.Common
@using Mkx.Templates.Server.Services
@using Mkx.Templates.Shared.Routes

@inject SignInManager<AppUser> SignInManager
@inject OidcProviderStore OidcProviderStore

@if (_externalLogins.Length != 0)
{
    <form id="external-login-form" class="form-horizontal w-100" action="@ApiUrls.Accounts.PerformExternalLogin()" method="post">
        <div class="w-100">
            <AntiforgeryToken />
            <input type="hidden" name="ReturnUrl" value="@ReturnUrl" />

            <div class="d-flex flex-column gap-2">
                @foreach (var provider in _externalLogins)
                {
                    <input type="hidden" name="provider" value="@provider.Scheme" />

                    <button type="submit"
                            class="mud-button-root mud-button mud-button-filled mud-button-filled-primary mud-button-filled-size-medium mud-width-full mud-ripple">
                        <div class="d-flex gap-2 align-items-center">
                            ورود با حساب @provider.DisplayName
                            @if (!string.IsNullOrEmpty(provider.Icon))
                            {
                                <img src="@provider.Icon" width="20" />
                            }
                        </div>
                    </button>
                }
            </div>
        </div>
    </form>
}

@code {
    private OidcDescriptor[] _externalLogins = [];

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    [Parameter] public bool AutoRedirect { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var schemes = await SignInManager.GetExternalAuthenticationSchemesAsync();
        var descriptors = OidcProviderStore.GetAll();

        _externalLogins = schemes
            .Select(s =>
            {
                var meta = descriptors.FirstOrDefault(x => x.Scheme == s.Name);
                var displayName = s.Name;

                return new OidcDescriptor
                {
                    Scheme = s.Name,
                    DisplayName = displayName,
                    Icon = meta?.Icon
                };
            })
            .ToArray();
    }
}
